{% extends "layouts/base.html" %}

{% block title %} Customers {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
     <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Customers </h5>
                                                <button type="button" class="btn btn-success float-right"
                                                                data-toggle="modal" data-target="#customermodal">Add Customers</button>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Customer Name</th>
                                                                <th>Email Address</th>
                                                                <th>Phone Number</th>
                                                                <th>Country</th>
                                                                <th>Customer Address</th>
                                                                <th>Customer Type</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for row in customers %}
                                                            <tr>
                                                                <th>{{loop.index}}</th>
                                                                <td>{{row.customer_name}}</td>
                                                                <td>{{row.email_address}}</td>
                                                                <td>{{row.phone_number}}</td>
                                                                <td>{{row.country_name}}</td>
                                                                <td>{{row.customer_address}}</td>
                                                                <td>{{row.customer_type}}</td>
                                                                <td>
                                                                    <a href="update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal"
                                                                        data-target="#modaledit{{row.id}}">Edit</a>
                                                                </td>
                                                            </tr>
                                <!-- Modal Edit Customer -->
                                <div class="modal fade" id="modaledit{{row.id}}" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Customers</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{{ url_for('customers.customers_update') }}" method="POST">
                                                {{ form.csrf_token }}
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="customer_name">Customer Name:</label>
                                                                <input type="hidden" name="id" value="{{row.id}}">
                                                                <input type="text" name="customer_name" value="{{row.customer_name}}" required="1" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="email_address">Email Address:</label>
                                                                <input type="email" name="email_address" value="{{row.email_address}}" required="1" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="phone_number">Phone Number:</label>
                                                                <input type="text" name="phone_number" value="{{row.phone_number}}" required="1" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="country">Country:</label>
{#                                                                <select name="country" class="form-control">#}
{#                                                                    <option value="{{ row.country }}">{{ row.country }}</option>#}
{#                                                                </select>#}
                                                                {{ form.country_id(placeholder="Select Shipping Country", class="form-control") }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="customer_address">Customers Address:</label>
                                                                <input type="text" name="customer_address" value="{{row.customer_address}}" required="1" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="customer_type">Customer Type:</label>
                                                                {{ form.customer_type(placeholder="Select Type", class="form-control") }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="shipping_country">Shipping Country:</label>
                                                                {{ form.shipping_country(placeholder="Select Shipping Country", class="form-control") }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="shipping_address">Shipping Address:</label>
                                                                <input type="text" name="shipping_address" value="{{row.shipping_address}}" required="1" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="customer_bin">Customer BIN:</label>
                                                                <input type="text" name="customer_bin" value="{{row.customer_bin}}" required="1" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="customer_tin">Customer TIN:</label>
                                                                <input type="text" name="customer_tin" value="{{row.customer_tin}}" required="1" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary" type="submit">Update</button>
                                                    </div>

                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Edit Employee Modal -->

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>

                                <!-- Modal Add Customer -->
                                <div class="modal fade" id="customermodal" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Add Customer</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{{ url_for('customers.customers_create') }}" method="POST" role="form">
                                                {{ form.csrf_token }}
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="customer_name">Customer Name:</label>
                                                                {{ form.customer_name(placeholder="Enter Customer Name", class="form-control") }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="email_address">Email Address:</label>
                                                                {{ form.email_address(placeholder="Enter Email Address", class="form-control") }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="phone_number">Phone Number:</label>
                                                                {{ form.phone_number(placeholder="Enter Phone Number", class="form-control") }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="country">Country:</label>
                                                                {{ form.country_id(placeholder="Select Country", class="form-control") }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="customer_address">Customers Address:</label>
                                                                {{ form.customer_address(placeholder="Enter Customers Address", class="form-control") }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="customer_type">Customer Type:</label>
                                                                {{ form.customer_type(placeholder="Select Type", class="form-control") }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="shipping_country">Shipping Country:</label>
                                                                {{ form.shipping_country(placeholder="Select Shipping Country", class="form-control") }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="shipping_address">Shipping Address:</label>
                                                                {{ form.shipping_address(placeholder="Enter Shipping Address", class="form-control") }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="customer_bin">Customer BIN:</label>
                                                                {{ form.customer_bin(placeholder="Enter Customer BIN", class="form-control") }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="customer_tin">Customer TIN:</label>
                                                                {{ form.customer_tin(placeholder="Enter Customer TIN", class="form-control") }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <button name="add_customer" class="btn btn-primary" type="submit">Add Customers</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Add Employee Modal -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}