{% extends "layouts/base.html" %}

{% block title %} Items {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
     <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Items </h5>
                                                <a href="{{ url_for('items.items_create') }}" class="btn btn-success float-right">Add Items</a>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Item Name</th>
                                                                <th>HS CODE</th>
                                                                <th>Item Type</th>
                                                                <th>Unit</th>
{#                                                                <th>Calculate Year</th>#}
{#                                                                <th>Stock</th>#}
{#                                                                <th>Status</th>#}
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for row in items %}
                                                            <tr>
                                                                <th>{{loop.index}}</th>
                                                                <td>{{row.item_name}}</td>
                                                                <td>{{row.hs_code}}</td>
                                                                <td> {% if row.item_type == '1' %} Service  {% else %} Finish Goods {% endif %} </td>
                                                                <td>{{row.unit_name}}</td>
{#                                                                <td>{{row.calculate_year}}</td>#}
{#                                                                <td>{{row.stock_status}}</td>#}
{#                                                                <td>{{row.status}}</td>#}
                                                                <td>
                                                                    <a href="update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal"
                                                                        data-target="#modaledit{{row.id}}">Edit</a>
                                                                </td>
                                                            </tr>


                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}