<script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/vendor-all.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/pcoded.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/dark-mode.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>


