<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/home" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">BMIT VAT</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if request.path == '/home' %}active{% endif %}">
                    <a href="/home" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Contacts</label>
                </li>

                <li class="nav-item {% if request.path == '/customers/' %}active{% endif %}">
                    <a href="{{ url_for('customers.customers_page') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                            <span class="pcoded-mtext">Customers</span></a>
                </li>
                <li class="nav-item {% if request.path == '/suppliers/' %}active{% endif %}">
                    <a href="{{ url_for('suppliers.suppliers_page') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                            <span class="pcoded-mtext">Suppliers</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Service Items</label>
                </li>

                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-package"></i></span><span
                            class="pcoded-mtext">Inventory</span></a>
                    <ul class="pcoded-submenu {% if 'items/' in segment %} active {% endif %}">
                        <li {% if request.path == '/items/' %}class="active"{% endif %}><a href="{{ url_for('items.items_page') }}" class="" >Items</a></li>
                    </ul>
                </li>


                <li class="nav-item pcoded-menu-caption">
                    <label>Purchase</label>
                </li>

                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span><span
                            class="pcoded-mtext">Purchase</span></a>
                    <ul class="pcoded-submenu {% if 'settings' in segment %} active {% endif %}">
                        <li {% if request.path =='/purchase/' %}class="active"{% endif %}><a href="{{ url_for('purchase.purchase_page') }}" class="" >Service Purchase</a></li>
                        <li {% if request.path =='/issue_vds/' %}class="active"{% endif %}><a href="{{ url_for('issue_vds.issue_vds_page') }}" class="" >Issue VDS</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Sales</label>
                </li>

                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-trending-up"></i></span><span
                            class="pcoded-mtext">Sales</span></a>
                    <ul class="pcoded-submenu {% if 'settings' in segment %} active {% endif %}">
                        <li {% if request.path =='/sales/' %}class="active"{% endif %}><a href="{{ url_for('sales.sales_page') }}" class="" >Service Sales</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Reports</label>
                </li>

                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Reports</span></a>
                    <ul class="pcoded-submenu {% if 'settings' in segment %} active {% endif %}">
                        <li {% if request.path == '/company/edit/' %}class="active"{% endif %}><a href="{{ url_for('company.company_update') }}" class="" >Company</a></li>
                        <li {% if request.path == '/units/' %}class="active"{% endif %}><a href="{{ url_for('units.units_page') }}" class="">Units</a></li>
                        <li {% if request.path == '/employees/' %}class="active"{% endif %}><a href="{{ url_for('auth.employees_page') }}" class="">Employees</a></li>
                    </ul>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Setting</label>
                </li>

                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-settings"></i></span><span
                            class="pcoded-mtext">Settings</span></a>
                    <ul class="pcoded-submenu {% if 'settings' in segment %} active {% endif %}">
                        <li {% if request.path == '/company/edit/' %}class="active"{% endif %}><a href="{{ url_for('company.company_update') }}" class="" >Company</a></li>
                        <li {% if request.path == '/units/' %}class="active"{% endif %}><a href="{{ url_for('units.units_page') }}" class="">Units</a></li>
                        <li {% if request.path == '/employees/' %}class="active"{% endif %}><a href="{{ url_for('auth.employees_page') }}" class="">Employees</a></li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
