{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-select.min.css') }}">
{% endblock stylesheets %}

{% block content %}
        <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <form role="form" method="POST" action="" role="form" id="purchase_form">
                                            {{ form.csrf_token }}
                                        <div class="card-header">
                                            <h5>Add New Purchase</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">

                                                <div class="col-sm-2 mb-2">
                                                    <div class="form-group">
                                                        <label for="supplier_id">Supplier </label>
                                                    {{ form.supplier_id(title="Select Supplier", class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 mb-2">
                                                    <div class="form-group">
                                                        <label for="supplier_address">Supplier Address</label>
                                                        {{ form.supplier_address(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 mb-2">
                                                    <div class="form-group">
                                                        <label for="entry_date">Entry Date </label>
                                                        {{ form.entry_date(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 mb-2">
                                                    <div class="form-group">
                                                        <label for="challan_no">Challan Number </label>
                                                        {{ form.challan_no(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 mb-2">
                                                    <div class="form-group">
                                                        <label for="challan_date">Challan Date </label>
                                                        {{ form.challan_date(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 mb-2">
                                                    <div class="form-group">
                                                        <label for="fiscal_year">Fiscal Year </label>
                                                        {{ form.fiscal_year(class="form-control", title="Select Fiscal Year") }}
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                   <div class="form-group">
                                                      <label for="serach_item">Add Items</label>
                                                      <input id="serach_item" class="form-control serach_item" type="text" name="serach_item" placeholder="Enter Hs-Code or product name" autocomplete="off">
                                                   </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="card-block table-border-style">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover">
                                                                <thead class="thead-light">
                                                                <tr>
                                                                    <th>Item Name</th>
                                                                    <th>Quantity</th>
                                                                    <th>Rate (BDT)</th>
                                                                    <th>Value</th>
                                                                    <th>SD%</th>
                                                                    <th>SD (BDT)</th>
                                                                    <th>Vatable Value(BDT)</th>
                                                                    <th>VAT Type</th>
                                                                    <th>VAT (%)</th>
                                                                    <th>VAT (BDT)</th>
                                                                    <th> VDS </th>
                                                                    <th> Rebate </th>
                                                                    <th> Total Amount </th>
                                                                    <th> Action </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="table_input">

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>




                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <center>
                                                            <button type="submit" name="item_create" class="btn btn-primary">Submit</button>
                                                            <a type="button" class="btn btn-warning">Cancel</a>
                                                        </center>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </form>


                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{{ url_for('static', filename='assets/js/bootstrap-select.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('select').selectpicker();

        // Autocomplete Item Name
         //var mapping = new Map();
        $( "#serach_item" ).autocomplete({
            minChars: 1,

            source: function(request, response){
                let term = request.term.toString().toLowerCase()
                   $.ajax({
                       url: "/api/items/terms/"+term+"/",
                       type: "GET",
                       dataType: "json",
                      success: function(data){
                        let info = data.items;
                        var suggestions = [];
                        for(var i = 0; i < info.length; ++i){
                            suggestions.push(info[i].item_name);
                            //mapping[info[i].item_name] = info[i].items_id;
                            //mapping.set(info[i].items_id);
                         }
                        response(suggestions);
                      }
                   });
            },
            select: function (event, ui) {
                        console.log(event);
                        console.log(ui);
                let itemid = '2';
                            $.ajax({
                                method: 'GET',
                                url: '/api/items/'+itemid+'/',
                                dataType: 'json'
                            }).done(function (data1) {
                                $.map(data1, function (items, i) {
                                    $('#table_input').append(
                                        "<tr><td><input type='text' class='form-control item_name' name='item_name' value='" + items.id + "' /></td>" +
                                        "<td><input type='text' class='form-control' name='quantity' /></td>" +
                                        "<td><input type='text' class='form-control' name='rate' value=''" + "/></td>" +
                                        "<td><input type='text' class='form-control' name='rate_value' value=''" + "/></td>" +
                                        "<td><input type='text' class='form-control' name='sd_percent' value='" + items.sd + "' /></td>" +
                                        "<td><input type='text' class='form-control' name='sd_bdt' value=''" + "/></td>" +
                                        "<td><input type='text' class='form-control' name='vatable_value' value=''" + "/></td>" +
                                        "<td><input type='text' class='form-control' name='vat_type' value=''" + "/></td>" +
                                        "<td><input type='text' class='form-control' name='vat_percent' value='" + items.vat + "' /></td>" +
                                        "<td><input type='text' class='form-control' name='vat_bdt' value=''" + "/></td>" +
                                        "<td><input type='text' class='form-control' name='vds' value=''" + "/></td>" +
                                        "<td><input type='text' class='form-control' name='rebate' value=''" + "/></td>" +
                                        "<td><input type='text' class='form-control' name='total_amount' value=''" + "/></td></tr>"
                                    )
                                })
                            });
                           // End Ajax
            }
        });
        // End Autocomplete




    });
</script>

{#  <script>#}
{#  $( function() {#}
{#    var itemList = [#}
{#        {% for item in items %}#}
{#            "{{item}}",#}
{#        {% endfor %}#}
{#    ];#}
{#    $( "#item_name" ).autocomplete({#}
{#      source: itemList#}
{#    });#}
{#  } );#}
{#  </script>#}
{#    <script>#}
{#        $(document).ready(function(){#}
{#            $('#supplier_id').change(function(){#}
{#               let supplier_id = $(this).val();#}
{#                alert(supplier_id)#}
{#               if(supplier_id){#}
{#                   let address = $(this).find(':selected').data('supplier_address')#}
{#                   alert(address)#}
{#                   $('#supplier_address').val(address);#}
{#               }#}
{#            })#}
{#        });#}
{#    </script>#}
{% endblock javascripts %}