{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


        <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <form role="form" method="post" action="">
                                        {{ form.csrf_token }}
                                        <div class="card-header">
                                            <h5>Company Information</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">

                                                <div class="col-sm-3 mb-4">
                                                    <div class="form-group">
                                                        <label for="company_name">Company Name</label>
                                              {{ form.company_name(placeholder="Enter Company Name", class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 mb-4">
                                                    <div class="form-group">
                                                        <label for="short_name">Company Short Name</label>
                                              {{ form.short_name(placeholder="Enter Company Short Name", class="form-control") }}
                                                    </div>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                  <div class="form-group">
                                                        <label for="email_address">Email address</label>
                                                      {{ form.email_address(placeholder="Enter email address", class="form-control") }}
                                                  </div>
                                                </div>
                                                <div class="col-sm-3 mb-4">
                                                    <div class="form-group">
                                                        <label for="phone_number">Phone Number</label>
                                                        {{ form.phone_number(placeholder="Enter Phone Number here", class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 mb-4">
                                                    <div class="form-group">
                                                        <label for="country">Country</label>

                                                        {{ form.country(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="Address">Address</label>
                                                        {{ form.address(placeholder="Full address here", class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 ml-3">
                                                    <div class="form-group">

                                                         <label for="invoice_logo">Invoice Logo</label>
                                                        <input type="file" name="invoice_logo" class="form-control">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-header">
                                            <h5>Bank Information</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="bank_name">Bank Name</label>
                                                        {{ form.bank_name(placeholder="Enter Bank Name", class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="ac_number">A/c Number</label>
                                                        {{ form.ac_number(placeholder="Enter A/C Number", class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="branch">Branch</label>
                                                        {{ form.branch(placeholder="Enter Branch Name", class="form-control") }}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="card-header">
                                            <h5>VAT and TAX Information</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="business_nature">Business Nature</label>
                                                        {{ form.business_nature(placeholder="Enter Business Nature", class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="business_economics">Business Economics</label>
                                                        {{ form.business_economics(placeholder="Enter Business Economics", class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="vat_type">Company Vat Type</label>
                                                        {{ form.vat_type(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="bin_number">BIN</label>
                                                        {{ form.bin_number(placeholder="Enter BIN Number", class="form-control") }}
                                                        <small id="abf" class="form-text text-muted">Enter Business identification number(BIN)</small>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="tin_number">TIN</label>
                                                        {{ form.tin_number(placeholder="Enter TIN Number", class="form-control") }}
                                                        <small id="abf" class="form-text text-muted">Enter Tax Identification Number(TIN)</small>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="currency">Currency</label>
                                                        {{ form.currency(class="form-control") }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card-header">
                                            <h5>Authorised Person</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="person_name">Name</label>
                                                        {{ form.person_name(placeholder="Enter Person Name", class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="designation">Designation</label>
                                                        {{ form.designation(placeholder="Enter Designation or Title", class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="person_phone_number">Phone Number</label>
                                                        {{ form.person_phone_number(placeholder="Enter Phone Number", class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="nid">NID</label>
                                                        {{ form.nid(placeholder="Enter NID Number", class="form-control") }}
                                                        <small class="form-text text-muted">Enter National Identity Card</small>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 mb-4">
                                                    <div class="form-group">
                                                        <label for="person_email">Email </label>
                                                        {{ form.person_email(placeholder="Enter Email Address here", class="form-control") }}
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <button type="submit" name="company" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}