{% extends "layouts/base.html" %}

{% block title %} Treasury Chalan {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
     <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Treasury Chalan </h5>
                                                <a href="{{ url_for('treasury_chalan.treasury_chalan_create') }}" class="btn btn-success float-right">New Chalan</a>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Chalan No</th>
                                                                <th>Account Code</th>
                                                                <th>Amount</th>
                                                                <th>Date</th>
                                                                <th>Type</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for row in treasury_chalan %}
                                                            <tr>
                                                                <th>{{loop.index}}</th>
                                                                <td>{{row.t_chalan_no}}</td>
                                                                <td>{{row.t_account_code}}</td>
                                                                <td>{{row.t_amount}}</td>
                                                                <td>{{row.t_date}}</td>
                                                                <td>{{row.t_type}}</td>
                                                            </tr>


                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}